*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
header{
    background-color: #ff6900; 
    height: 80px;
    display: flex;
    align-items: center;
}
.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.container{
    width: 1400px;
    margin: auto;
}
ul, li{
        list-style-type: none;
        display: inline;
        font-size: 1.1em;
        margin-right: 5px;
}
.logo img{
    height: 40px;
}
a, .profile{
    color:white;
    text-decoration: none;
}

.row{
    display: flex;
    gap:10px;
    margin-top: 80px;
}
.col{
    flex-basis: calc(100% / 3);
    border: 2px solid black;
}

.card img{
    max-width: 100%;
}
 .brand{
    color: rgb(109, 107, 107);
    margin-top: 5px;
 }
 .price{
    color: red;
    font-weight: bolder;
    display: inline-block;
 }

.heart{
    padding: 20px 20px;
    position: absolute;
    background-color: white;
    top: 10px;
    right: 0;
}
.card{
    position: relative;
    background-image: url(img/1.webp);
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.discount, .sost{
    padding: 5px 10px;
    position: absolute;
    background-color: red;
    color: white;
    font-weight: bolder;
    left: 0;
    bottom: 50px;
}

.sost{
    background-color: green;
    left:60px;
}

#hov-imga:hover{
    background-image: url(img/1b.webp);
    }