*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
header{
    background-color: #ff6900; 
    height: 80px;
    display: flex;
    align-items: center;
}
.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.container{
    width: 1400px;
    margin: auto;
}
ul, li{
        list-style-type: none;
        display: inline;
        font-size: 1.1em;
        margin-right: 5px;
}
.logo img{
    height: 40px;
}
a, .profile{
    color:white;
    text-decoration: none;
}

.row{
    display: flex;
    gap:10px;
    margin-top: 40px;
}
.col{
    flex-basis: calc(100% / 3);
    border: 2px solid black;
}

 .brand{
    color: rgb(109, 107, 107);
    margin-top: 5px;
 }
 .price{
    color: red;
    font-weight: bolder;
    display: inline-block;
 }

.heart{
    padding: 15px 15px;
    position: absolute;
    background-color: white;
    top: 10px;
    right: 0;
}
.card, .cardb, .cardc, .cardd, .carde, .cardf{
    position: relative;
    background-size: cover;
    height: 700px;
}
.card{
    background-image: url(img/1.webp);
}
.cardb{
    background-image: url(img/2.webp);
}
.cardc{
    background-image: url(img/3.webp);
}
.cardd{
    background-image: url(img/4.webp);
}
.carde{
    background-image: url(img/5.webp);
}
.cardf{
    background-image: url(img/6.webp);
}

.discount, .sost{
    padding: 5px 10px;
    position: absolute;
    background-color: red;
    color: white;
    font-weight: bolder;
    left: 0;
    bottom: 50px;

}
.sost{
    background-color: green;   
    margin-left: 60px;
}
#sost{
   margin-left: 0;
   
}

#hov-imga:hover{
    background-image: url(img/1b.webp);
    }
#hov-imgb:hover{
    background-image: url(img/2b.webp);
}
#hov-imgc:hover{
    background-image: url(img/3b.webp);
}
#hov-imgd:hover{
    background-image: url(img/4b.webp);
}
#hov-imge:hover{
    background-image: url(img/5b.webp);
}
#hov-imgf:hover{
    background-image: url(img/6b.webp);
}
.heart:hover{
    color: red;
}